@model IEnumerable<AdministrarNoticias.Articulo>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center">
    <div class="flex-grow-1">
        <h1>ARTÍCULOS</h1>
    </div>
    <div>
        <a href="@Url.Action("Create")" class="btn btn-primary">Crear artículo</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th width="200px">
                Título
            </th>
            <th width="250px">
                Descripción
            </th>
            <th>
                Imagen
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>

            <th>
                Fecha de publicación
            </th>

            <th>
                Categoría
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fuente)
            </th>
            <th>
               Opciones
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <img src="@Url.Content(item.UrlToImage)" style="width:8rem;" alt="" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.NombreCategoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fuente.NombreFuente)
                </td>

               
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArticuloId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.ArticuloId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArticuloId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
