@model IEnumerable<AdministrarNoticias.Categoria>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center">
    <div class="flex-grow-1">
        <h1>CATEGORIAS</h1>
    </div>
    <div>
        <a href="@Url.Action("Create")" class="btn btn-primary">Crear categoría</a>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
               Nombre de la categoría
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
